<div class="datetimepicker input-group date">
  {{view textFieldClass classNames="form-control" disabled=disabled name=textFieldName}}
	<span class="input-group-addon">
		<span></span>
 	</span>
</div>
