{{#if hasBlock}}
  {{yield}}
{{else}}
  {{bs-datetimepicker-input disabled=disabled name=textFieldName}}
{{/if}}
{{#unless noIcon}}
<span class="input-group-addon">
  <span class="{{dateIcon}}"></span>
</span>
{{/unless}}
