<div class="datetimepicker input-group date">
{{log this}}
  {{view textFieldClass classNames=textFieldClassNames disabled=disabled name=textFieldName}}
	<span class="input-group-addon">
		<span></span>
 	</span>
</div>