<div class="datetimepicker input-group date">
  {{view textFieldClass classNames="form-control" disabled=disabled name=textFieldName placeholder=placeholder}}
  <span class="input-group-addon">
    <span {{bind-attr class="dateIcon"}}></span>
  </span>
</div>
